/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */




:root{

    --accent-family: "Press-Start-2P",sans-serif;
    --main-family: "Inter-Variable", fantasy;
    --background-image: repeating-linear-gradient(#d3d3d3 0 2px, transparent 2px 4px),
                        repeating-linear-gradient(90deg,#d3d3d3 0 2px, transparent 2px 4px),
                        linear-gradient( #e7e7e7 0.01%, #1a1a1a 100%);
    
    --background-color: white;
    --text:black;
    --wght-title: 700;
    --wght-text: 400;
    --floppy-color:white;
    --stroke-color:white;
    --contur-color:black;
    --sparks-color:red;
    --main-body-color:black;
    --core-color:black;
}